# =========================
# Minimal config for dcmprscp (DCMTK / dcmpstat style)
# =========================

[[GENERAL]]

[PRINT]
Directory = C:\dicom-print\spool
DetailedLog = true
BinaryLog = false
DeletePrintJobs = false

[DATABASE]
Directory = C:\dicom-print\database


[[COMMUNICATION]]

[PHILIPS_GATEWAY]
# MUST be LOCALPRINTER, otherwise dcmprscp refuses it
type = LOCALPRINTER
hostname = 192.168.1.200
port = 4100
aetitle = PRINTSCP
description = Philips CT 3500 - DICOM Print SCP Gateway

# Printer capability settings (important for Print SCP)
# Display formats supported (portrait; landscape derived automatically)
DisplayFormat = 1,1\1,2\2,2\2,3\3,3\3,4\4,4

# Film sizes accepted (FIRST is default; mandatory for LOCALPRINTER)
FilmSizeID = 14INX17IN\10INX12IN\8INX10IN\24CMX30CM

MagnificationType = CUBIC\BILINEAR\REPLICATE\NONE

# Aceitar o que o Philips está enviando
MediumType = BLUE FILM\CLEAR FILM\PAPER
FilmDestination = PROCESSOR\MAGZINE\BIN_1\BIN_2

# Optional but recommended for CT consoles
Supports12Bit = true
SupportsPresentationLUT = true
PresentationLUTinFilmSession = false
PresentationLUTMatchRequired = true

SupportsTrim = true
SupportsDecimateCrop = false
SupportsImageSize = true

MaxPDU = 32768
ImplicitOnly = false
DisableNewVRs = false